* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* HEADER */
.adminHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #11162c;
    padding: 5px 20px;
    gap: 15px;
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adminHeader button {
    padding: 6px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    color:#11162c;
}

.adminHeader button:hover {
    background-color:  #D81E5B;
    color: white;
}

.adminGymLogo{
    font-weight: bold;
    font-size: 18px;
    height: 50px;
}

.adminUser{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: bold;
}

.adminHeader a{
    text-decoration: none;
    color: #f5eded;
}

/* /// MAIN /// */
.adminMain {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.adminHeading2{
    margin-bottom: 20px;
}

/* Side Bar */
.adminSideBar {
    width: 290px;
    background-color:#160052;
    color: #ecf0f1;
    padding: 20px 0px;
    flex-shrink: 0;
    font-size: 20px;
}

.adminSideBar h4{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.adminSideBar a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    margin: 10px 20px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.adminCurrentPage {
    background-color: #D81E5B;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.adminCurrentPage:hover {
    background-color: white;
}

.adminCurrentPage:hover a{
    color: #D81E5B;
}

.adminOtherPage:hover {
    background-color: #D81E5B;
    border-radius: 5px;
}
/* Dashboard */
.adminDashboardContent{
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-shrink: 0;  */
    padding: 20px;
}

.adminBreadcrumb{
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.adminBreadcrumb a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}
.adminBreadcrumb a:hover {
    color:  rgb(255, 94, 49);
    text-decoration: underline;
}

.adminStats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.adminCard {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    min-width: 200px;
    width: calc(25% - 20px);
}

.adminCard h5 {
    margin-bottom: 10px;
    font-size: 18px;
}

.adminCard p {
    font-size: 24px;
}

.adminTodaySchedule {
    background-color: #9d1ed83c;
    padding: 20px;
    border-radius: 10px;
}

.adminTodaySchedule h3 {
    margin-bottom: 15px;
}

.todayActivityBox{
    background-color: #fff3f3;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: #6c027fb6 5px 5px 5px;
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
/*/////////////////////////////// Manage Classes & Sessions, Members, and other Pages ///////////////////////////////*/
.adminContent { 
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
}

.adminModal, .deleteConfirmationModal{
    margin-left: 290px;
    margin-top: 65px;
    display: none; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    padding-left: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
}

.adminModalContent{
    background-color: #fefefe;
    padding: 20px;
    margin: auto 150px 300px 150px;
    border: 1px solid #949494;
    width: 50%;
    border-radius: 10px;
    overflow: auto;
}

.adminModalContent h3, .adminModalEditContent h3, .adminModalDeleteContent h3{
    margin-bottom: 20px;
    font-size: 25px;
}

.adminModalLabelGrp{
    margin-bottom: 20px;
}
.adminModalLabelGrp label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}
.adminModalLabelGrp input[type="text"], .adminModalLabelGrp input[type="datetime-local"], 
.adminModalLabelGrp input[type="number"], .adminModalLabelGrp select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.addActivityModal{ 
    display: block;
} 


#addMemberModal{ 
    display: none;
}
#addActivityBtn, #addMemberBtn{
    padding: 8px 10px;
    background-color: #160052 ;
    color: rgba(255, 255, 255, 0.856);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#addActivityBtn:hover, #addMemberBtn:hover{
    background-color:  #D81E5B;
    color: white;
    border: 1px solid #D81E5B;
}

.adminSubmitActBtn, .adminSubmitMemBtn{
    background-color: #160052 ;
    color: white;
    border: 1px solid #160052 ;
}

.adminSubmitEditBtn, .adminSubmitMemEditBtn{
    background-color: rgb(30, 86, 0);
    color: white;
    border: 1px solid rgb(30, 86, 0);
}

.adminSubmitActBtn, .adminSubmitMemBtn, .adminSubmitEditBtn, .adminSubmitDeleteBtn,
.adminSubmitMemEditBtn{
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;    
}

.adminSubmitActBtn:hover, .adminSubmitMemBtn:hover{
    background-color:rgba(255, 123, 0, 0.856);
    color: white;
    border: 1px solid rgba(255, 123, 0, 0.856);
}

.adminCloseBtn, #editCloseBtn, #editMemberCloseBtn {
    color: #16005295;
    float: right; 
    font-size: 30px;
}
.adminCloseBtn:hover, .adminCloseBtn:focus,
#editCloseBtn:hover, #editCloseBtn:focus,
#editMemberCloseBtn:hover, #editMemberCloseBtn:focus{
    color: #160052;
    text-decoration: none;
    cursor: pointer;
}

/* Modal for update and delete */
.adminModalEditContent, .adminModalDeleteContent{
    background-color: #fefefe;
    padding: 20px;
    margin: auto 150px 300px 150px;
    border: 1px solid #949494;
    width: 35%;
    border-radius: 10px;
    overflow: auto;
}

.adminEditBtn {
    background-color: white;
    color:rgb(30, 86, 0);
    border: 1px solid rgb(30, 86, 0);
}

.adminEditBtn, .adminDeleteBtn, .viewAttendanceBtn, .viewClassesBtn{
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin-right: 0px;
}

.adminDeleteBtn, .viewAttendanceBtn, .viewClassesBtn{
    color: white;
    border: none;
}

.adminEditBtn:hover, .adminDeleteBtn:hover, .adminSubmitEditBtn:hover, .adminSubmitDeleteBtn:hover, 
.viewAttendanceBtn:hover, .viewClassesBtn:hover{
    opacity: 0.8;
}

.viewAttendanceBtn:hover, .viewClassesBtn:hover{
    background-color: #160052;
    color: white;
    border: 1px solid #160052;
}

#editActivityModal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.adminModalDeleteContent p{
    font-weight: bold;
}

.adminDeleteBtn{
    background-color: rgba(149, 6, 6, 0.99);
}

.adminSubmitDeleteBtn{
    background-color: rgba(149, 6, 6, 0.99);
    color: white;
    border: 1px solid rgba(149, 6, 6, 0.99);
}

.viewAttendanceBtn, .viewClassesBtn{
    background-color: rgba(255, 255, 255, 0.856);
    color: #160052 ;
    border: 1px solid #160052;
    padding: 5px 10px;
}

/* Table styling */
.adminScheduledActTable, .membersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.adminScheduledActTable td,.attendanceActTable td, .membersTable td, .adminScheduleTable td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.adminScheduledActTable th, .attendanceActTable th, .membersTable th, .adminScheduleTable th{
    border: 1px solid #ddd;
    background-color: #160052;
    color: white;
    text-align: center;
    padding: 10px;
}

.adminScheduledActTable button, .attendanceActTable button, .membersTable button{
    margin-right: 5px;
    cursor: pointer;
}

.attendanceActTable, .adminScheduleTable{
    border-collapse: collapse;
    margin-top: 20px;
    width: 70%;
}

.attendanceBtn, .adminCancelBtn, .adminChangeScheduleBtn,
.adminEnrollBtn{
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-right: 0px;   
    cursor: pointer;
}

.adminEnrollBtn{
    background-color: rgb(30, 86, 0);
    border: 1px solid rgb(30, 86, 0);
}

.attendanceBtn, .adminCancelBtn, .adminChangeScheduleBtn{
    background-color:#160052;
    border: none;
}

.attendanceBtn:hover, .adminCancelBtn:hover, .adminChangeScheduleBtn:hover,
.adminEnrollBtn:hover{
    opacity: 0.8;
}

.attendanceFrm{
    display: inline;
}
